
.jfx-text-field{
	-fx-prompt-text-fill: #c0c0c0;
	-fx-text-inner-color: #336699;
	-jfx-focus-color: #336699;
	-jfx-unfocu-color: #c0c0c0;
}

.jfx-text-field-error{
	-jfx-unfocus-color: #ff0000;
	-fx-prompt-text-fill: #ff0000;
}

.pane{
	-fx-background-color: #ffffff;
}

/*
text-area code
-change background and prompt text color
-background-radius used to hide corner dots left over after setEditable(false)used in controller
*/

.text-area {
	-fx-prompt-text-fill: #336699;
    -fx-background-color: transparent, #ffffff, transparent, #ffffff;
}

.text-area .content {
    -fx-background-color: transparent, #ffffff, transparent, #ffffff;
	-fx-background-radius: 0;
}

.text-area:focused .content {
    -fx-background-color: transparent, #ffffff, transparent, #ffffff;
	-fx-background-radius: 0;
}

.text-area *.text{
	-fx-text-alignment: justify;
}







