.label{
	-fx-border-color: #ffffff;
	-fx-border-width: 0 0 2px 0;
}

.jfx-text-field{
	-fx-prompt-text-fill: #c0c0c0;
	-fx-text-inner-color: #ffffff;
}


/*
text-area code
-change background and prompt text color
-background-radius used to hide corner dots left over after setEditable(false)  used in controller  
-
*/

.text-area {
	-fx-prompt-text-fill: #ffffff;
    	-fx-background-color: transparent, #336699, transparent, #336699;
}

.text-area .content {
    	-fx-background-color: transparent, #336699, transparent, #336699;
	-fx-background-radius: 0;
}

.text-area:focused .content {
    	-fx-background-color: transparent, #336699, transparent, #336699;
	-fx-background-radius: 0;
}

.text-area *.text{
	-fx-text-alignment: justify;
}